@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tiffany ';
  src: url('/fonts/Nova/ProximaNova-Thin.ttf');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}