@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-Demi.otf');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
