@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'TiffanyStd-Demi';
}


@layer components {
  .link {
    @apply cursor-pointer hover:no-underline;
  }

  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-blue-500 to-blue-500 border-blue-500 border-b-2 focus:shadow-sm rounded-sm focus:ring-0  active:from-blue-600 active:to-blue-600;
  }
  .button:focus {
    @apply outline-none;
  }
}


@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-Light.otf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-Demi.otf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-Heavy.otf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-LightItalic.otf');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-Italic.otf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-Demi.otf');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'TiffanyStd-Demi';
  src: url('/fonts/Tiffany/TiffanyStd-HeavyItalic.otf');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Thin.ttf');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-ThinItalic.ttf');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Light.ttf');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/PublicSans/PublicSans-Italic.ttf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
